.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.wrapper button {
  border: none;
  outline: none;
  padding: 10px;
  font-size: 22px;
  border-radius: 4px;
  color: white;
}

button.plus {
  background-color: blue;
}

button.minus {
  background-color: red;
}

button:disabled {
  opacity: 0.3;
}

.count {
  font-size: 24px;
}
